doctype 5

html
  head
    title Sitebox
    link(rel="stylesheet", href="/css/sitebox.css", type="text/css", media="screen", charset="utf-8")
  body
    h1
      a(href="#/") Sitebox
    block content
